{% load static %}
<!DOCTYPE html>
<html>
<body>

<h1>בחירת מוצר למיחזור</h1>
<link rel="stylesheet" href="{% static 'searchProduct.css' %}">
<form action="{% url 'searchProduct' %}" method="POST">
  {% csrf_token %}
  <label for="browser">אנא בחר את המוצר הרצוי למיחזור:</label>
  {% if selected_product %}
    <input list="myproducts" name="browser" id="browser" value="{{selected_product.product_name }}">
  {% else %}
    <input list="myproducts" name="browser" id="browser">
  {% endif %}
  <datalist id="myproducts">
    {% for product in myproducts %}
    <option value="{{ product.product_name }}">
    {% endfor %}
  </datalist>
  <input type="submit">
</form>

{% if selected_product %}
  <h2>שם מוצר: {{ selected_product.product_name }} </h2>
  <h3>שם פח: {{ selected_product.bin_type }}</h3>
  <h4>במיחזור זה אתה צובר: {{ selected_product.value }}נקודות</h4>   
{% endif %}
</body>
</html>