body {
    font-family: Arial;
    direction: rtl;
    text-align: center;
    background-color: #90EE90;
    margin: 0;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    margin-top: 100px;
}

h1 {
    color: #008000;
}

.answer {
    cursor: pointer;
    padding: 15px;
    margin: 30px;
    display: block;
    width: fit-content;
    border-radius: 60px;
    background-color: rgb(229, 240, 233);
}

.correct {
    font-weight: bold;
    background-color: rgb(111, 245, 147);
    color: green
}

.incorrect {
    font-weight: bold;
    background-color: rgb(247, 186, 186);
    color:red;
}

.correct-answer {
    font-weight: bold;
    background-color: rgb(71, 237, 115);
    color: green
}

#results {
    margin-top: 30px;
    background-color: rgb(71, 237, 115);
    font-weight: bold;
}
