{% extends "master.html" %}
{% load static %}
{% block title %}
    חנות וירטואלית
{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        <h1>מוצרי החנות</h1>
        <table>
            <tr>
                <th>מוצר</th>
                <th>מספר נקודות</th>
                <th></th>
            </tr>

            {% for p in products %}
                <tr>
                    <td>{{ p.product_name }}</td>
                    <td>{{ p.value }}</td>
                    <td>
                        <a href="{% url 'updatestoreproduct' p.id %}">עדכון</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a href="{% url 'addstoreproduct' %}">הוספת מוצר חדש</a>
    {% else %}
        <script>window.location.href = "{% url 'store' %}";</script>
    {% endif %}
{% endblock %}
