{% extends "master.html" %}
{% load static %}

{% block title %}
נתוני משתמשים באתר
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/master.css' %}">
<link rel="stylesheet" href="{% static 'css/data_user.css' %}">
<style>
    body {
        background-color: rgba(255, 255, 255, 0.8); 
        
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    .profile-link a {
        background-color: rgb(63, 195, 85);
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
    }

    .profile-link a:hover {
        background-color: rgb(50, 127, 48);
    }

    .map-container {
        border: 2px solid black;
        padding: 10px;
        margin-bottom: 20px;
        background-color: rgba(255, 255, 255, 0.8); 
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: rgba(255, 255, 255, 0.8); 
    }

    tr:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.8); 
    }

    tr:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.8);
    }

    button {
        background-color: red;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }

    button:hover {
        background-color: darkred;
    }

    .profile-link {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

   
</style>
{% endblock %}

{% block content %}
<h1>נתוני המשתמשים באתר</h1>
<div class="map-container">
    <h1>נתוני המשתמשים באתר</h1>
    <div class="profile-link">
        <a href="{% url 'userform' %}">לפרופיל שלי</a>
    </div>
    <br>
    <table>
        <tr>
            <th>שם משתמש</th>
            <th>שם פרטי</th>
            <th>שם משפחה</th>
            <th>אימייל</th>
            <th>עיר מגורים</th>
            <th>התחבר לאחרונה</th>
            <th>נקודות</th>
            <th>מחיקת משתמש</th>
        </tr>
        {% for p in recycling_data %}
        <tr>
            <td>{{ p.username }}</td>
            <td>{{ p.first_name }}</td>
            <td>{{ p.last_name }}</td>
            <td>{{ p.email }}</td>
            <td>{{ p.location }}</td>
            <td>{{ p.last_login }}</td>
            <td>{{ p.points }}</td>
            <td>
                <form method="post" action="{% url 'delete_user' p.id %}">
                    {% csrf_token %}
                    <button type="submit" onclick="showAlertAndRedirect(event)">מחק</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
 
</div>
{% endblock %}

{% block extra_js %}
<script>
    function showAlertAndRedirect(event) {
        event.preventDefault(); // Prevent the form from submitting
        if (confirm('האם אתה בטוח שברצונך למחוק משתמש זה?')) {
            alert('המשתמש נמחק בהצלחה!');
            event.target.closest('form').submit(); // Submit the form
        }
    }
</script>
{% endblock extra_js %}
