{% extends "master.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
התחברות לאתר
{% endblock %}
{% block extra_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <style>
        input[type="text"], input[type="password"] {
            direction: rtl;
            text-align: left;
        }
    </style>
{% endblock %}
{% block content %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header text-black">
                        <h2>התחברות לאתר</h2>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'login' %}" method="POST" novalidate>
                            {% csrf_token %}
                            {% for field in form.visible_fields %}
                            <div class="form-group">
                                {% if field.label == "Username" %}
                                <label for="{{ field.id_for_label }}">שם משתמש:</label>
                                {% else %}
                                <label for="{{ field.id_for_label }}">סיסמה:</label>
                                {% endif %}
                                {% render_field field class="form-control" %}
                                {% for error in field.errors %}
                                <span style="color:red">{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% endfor %}
                            <br>
                            <input type="submit" value="התחברות" class="btn btn-block btn-primary">
                        </form>
                    </div>
                </div>
                <button onclick="window.location.href='/website/reset_password/'" class="btn btn-green">שכחתי סיסמה</button>
            </div>
        </div>
    </div>
</body>
{% endblock %}