{% extends "master.html" %}

{% block title %}
    פחי מיחזור
{% endblock %}

{% block content %}
     <h1>מציאת פחי מיחזור</h1> 
        <h2>מיקומי פחי מיחזור סגולים</h2>
        <iframe id='ifrMap' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' width='1000' height='800' src='https://www.govmap.gov.il/map.html?bb=1&zb=1&in=1&c=199667.51,749042.72&z=4&lay=GLASS_RECYLCE_STANDS'></iframe>
        <h3>מיקומי פחי מיחזור אפורים</h3>
        <iframe width="1000" height="800" src="https://www.google.com/maps/d/embed?mid=1dBKmGGsNA2u6KreBBZdKg_vz_Xu4jyCV&hl=iw&ehbc=2E312F"></iframe>
    {% endblock %}
