{% load static %}
<!DOCTYPE html>
<html lang="he">
<head>
  <title>{% block title %}{% endblock %}</title>
  
  {% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  {% endblock %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    .top-bar {
      direction: rtl;
      font-family: Calibri; 

    }
    .top-bar a {
      margin-left: 50px; 
      font-family: Calibri; 

    }
  </style>
</head>

<body>
  <div class="top-bar">
    {% if user.is_authenticated %}
      {% if userType == "a" %}
        <a href="{% url 'home' %}">דף הבית</a>
        <a href="{% url 'userform' %}">פרטים אישיים</a>
        <a href="{% url 'quiz' %}">עדכון שאלות חידון</a>
        <a href="{% url 'adminstore' %}">עדכון חנות אינטרנטית</a>
        <a href="{% url 'productslist' %}">מאגר מוצרים</a>
        <a href="{% url 'data_user' %}">מאגר משתמשים</a>
        <a href="{% url 'display_photos' %}"> דיווחי משתמשים</a>
        <a href="{% url 'display_contacts' %}">פניות משתמשים</a>
        <a href="{% url 'maps' %}">מיקום פחי מיחזור </a>
        <a href="{% url 'about' %}">אודות</a>
        <a href="{% url 'logout' %}">להתנתקות ויציאה</a>
      {% else %}
        <a href="{% url 'home' %}">דף הבית</a>
        <a href="{% url 'userform' %}">פרטים אישיים</a> 

        {% if not userType and userType != "a" %}
          <a href="{% url 'userrecycling' %}"> דיווח על מיחזור</a>
          <a href="{% url 'quiz' %}">חידון</a>
          <a href="{% url 'store' %}">חנות</a>


        {% else %}
          <a href="{% url 'data_recycling' %}">נתוני מחזור</a>
        {% endif %}
        <a href="{% url 'recycle_bins' %}">מידע על פחי מיחזור</a>
        <a href="{% url 'searchProduct' %}">מידע מוצרים</a>
        <a href="{% url 'maps' %}">מיקום פחי מיחזור </a>
        <a href="{% url 'rate' %}">דירוג האתר</a>
        <a href="{% url 'contact_view' %}">צור קשר</a>
        <a href="{% url 'about' %}">אודות</a>
        <a href="{% url 'logout' %}">להתנתקות ויציאה</a>

      {% endif %}

    {% else %}
      <a href="{% url 'index' %}" class="green-link">דף הבית </a>
      <a href="{% url 'register' %}" class="green-link">הרשמה </a>
      <a href="{% url 'login' %}" class="green-link">התחברות</a>
      <a href="{% url 'searchProduct' %}" class="green-link">מידע על מיחזור מוצרים</a>
      <a href="{% url 'maps' %}" class="green-link">פריסת פחים לפי מיקום</a>
      <a href="{% url 'recycle_bins' %}" class="green-link">מידע על פחי מיחזור</a>
      <a href="{% url 'about'  %}" class="green-link">אודות</a>
    {% endif %}

    
    <a href="https://www.whatsapp.com/" target="_blank">
      <i class="fab fa-whatsapp" style="font-size: 30px;"></i>
    </a>
    <a href="https://www.instagram.com/" target="_blank">
      <i class="fab fa-instagram" style="font-size: 30px;"></i>
    </a>
    <a href="https://www.facebook.com/" target="_blank">
      <i class="fab fa-facebook" style="font-size: 30px;"></i>
    </a>
  </div>

  {% block content %}
  {% endblock %}

  {% block extra_js %}
  {% endblock %}
</body>
</html>
