{% load static %}
<!DOCTYPE html>
<html lang="he">
<head>
  <title>{% block title %}{% endblock %}</title>
    <style>
        p {
          background-image: url('https://i.natgeofe.com/k/e094f0a9-3cb3-40c3-afaf-314b6437ef14/ww-funny-animal-faces-goat_16x9.jpg');
        }
    </style>
    <meta charset="UTF-8">
    <title>צעד למיחזור</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</head>
<body>
<header>
    <div class="container clearfix">   

        <div class= "navbar-wrapper">
            <div class="container">
                <nav class = "navbar navbar-inverse navbar-fixed-top" id="navbar_whole">
                        <div id= "navbar" class="navbar-collapse collapse">
                            {% if userType == "a" %}
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="{% url 'login' %}">דף הבית</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'login' %}">פרטים אישיים</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'login' %}">עדכון שאלות חידון</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'login' %}">רשימת מוצרים</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'contact_view' %}">מחיקת משתמשים</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'contact_view' %}">פניות משתמשים</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'logout' %}">להתנתקות ויציאה</a>
                                    </li>
                                </ul>
                            {% else %}
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="{% url 'login' %}">דף הבית</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'login' %}">פרטים אישיים</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'login' %}">חידון</a>
                                    </li>
                                    {% if not userType %}
                                        <li>
                                            <a href="{% url 'login' %}">דיווח על מיחזור</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{% url 'login' %}">נתוני מחזור</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{% url 'contact_view' %}">צור קשר</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'searchProduct' %}">מידע מוצרים</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'login' %}">חנות</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'logout' %}">להתנתקות ויציאה</a>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                </nav>
            </div>
        </div>
    </div>
</header>

{% block content %}
{% endblock %}

<footer>
    <div class="btn__container">
        <a href="https://www.instagram.com/" class="btn">
            <i class="fab fa-instagram"></i>
            <span>Instagram</span>
        </a>
        <a href="https://www.facebook.com/?locale=he_IL" class="btn-f">
            <i class="fab fa-facebook"></i>
            <span>Facebook</span>
        </a>
        <a href="https://web.whatsapp.com/" class="btn-w">
            <i class="fab fa-whatsapp"></i>
            <span>WhatsApp</span>
        </a>
    </div>
</footer>
{% block extra_js %}{% endblock %}
</body>
</html>