{% extends "master.html" %}

{% block title %}
   הרשות שלי
{% endblock %}

{% block content %}
<h1>  הרשות שלי</h1>
<table>

    <tr>
        <th>שם משתמש</th>
        <th>שם פרטי</th>
        <th>שם משפחה</th>
        <th>אימייל</th>
        <th>עיר מגורים</th>
        <th>התחבר לאחרונה  </th>
      </tr>
    {% for p in recycling_data %}
        <tr>
            <!-- אני ניגשת לשדה הראשון עם הנקודה הראשונה ואז לשדה שאני רוצה בתוך הטבלה של הראשון -->
            <td>{{ p.username }}</td>
            <td>{{ p.first_name }}</td> 
            <td>{{ p.last_name }}</td>
            <td>{{ p.email }}</td>
            <td>{{ p.location }}</td>
            <td>{{ p.last_login }}</td> 
            
        </tr>
    {% endfor %}
    
</table>
<a href="{% url 'userform' %}"> חזרה לפרופיל שלי</a>
{% endblock %}