{% extends "master.html" %}
{% load static %}

{% block content %}
<title>איפוס סיסמא </title>
<link rel="stylesheet" href="{% static 'css/master.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.8); 
        font-family: Calibri, sans-serif;
        text-align: center; 
    }

    .container {
        max-width: 400px;
        padding: 20px;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.8); 
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    h3 {
        margin-bottom: 10px;
        color: #333;
    }

    p {
        margin-bottom: 20px;
        color: #666;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 5px;
        color: #333;
    }

    input[type="email"],
    input[type="submit"] {
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    input[type="submit"] {
        background-color: #58a13d;
        color: white;
        border: none;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #405d27;
    }
</style>

<div class="container">
    <h3>איפוס סיסמה</h3>
    <p>שכחת סיסמה?
        <br>
         על מנת לשחזר את הסיסמה, הזן את כתובת המייל שאיתה נרשמת לאתר
        ואנחנו נשלח לך מייל לאיפוס סיסמה.
        <br>
         *שים לב לדואר זבל*
    </p>

    <form method="post">
        {% csrf_token %}
        <label for="email">אימייל:</label>
        <input type="email" id="email" name="email" required>
        <input type="Submit" value="שלח">
    </form>
</div>
{% endblock %}
