{% extends "master.html" %}
{% load static %}
{% block title %}
    חנות וירטואלית - ניהול מוצרים
{% endblock %}

{% block content %}
    {% if not user.is_superuser %}
        <input id="userPoints" type="hidden" value="{{ userObj.points }}">
        <h1>סך הנקודות שברשותך: {{ userObj.points }}</h1>
        <table>
            <tr>
                <th>מוצר</th>
                <th>מספר נקודות</th>
                <th></th>
            </tr>
            {% for p in products %}
                <input type="hidden" id="p_{{p.id}}" value="{{ p.value }}">
                <tr>
                    <td>{{ p.product_name }}</td>
                    <td>{{ p.value }}</td>
                    <td>
                        <button class="pBtn" id="{{p.id}}">לרכישה</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        {% url 'adminstore' as adminstore_url %}
        <script>window.location.href = "{{ adminstore_url }}";</script>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/store.js' %}"></script>
{% endblock %}
