{% extends "master.html" %}

{% block title %}
    הפרופיל שלי
{% endblock %}


{% block content %}
    <h1>הפרופיל שלי</h1>
    <form id="userDetails" method="">
        {% csrf_token %}
        {{ form.as_p }}

        {% if userType and not checkAdmin %}
            <a href="{% url 'recycling_bin' %}">  נתוני מיחזור בעיר שלי </a>
            <a href="{% url 'my_authority' %}">  הרשות שלי  </a>

        {% elif checkAdmin %}
            <a href="{% url 'data_recycling' %}">  נתוני המיחזור באתר </a>
            <a href="{% url 'data_user' %}">  נתוני משתמשים באתר  </a>
        {% endif %}
    </form>
    <a href="{% url 'userEditform' %}">עדכון פרופיל</a>

{% endblock %}