
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #90EE90;
    text-align: center;
}

h1 {
    color: #008000;
}

h2 {
    color: #800080;
    font-size: 24px;
}

h3 {
    color: #808080;
    font-size: 24px;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    height: 90vh;
}

.sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #004400;
    color: #ffffff;
    padding: 20px;
    z-index: 1;
}

.sidebar a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
}

.sidebar a:hover {
    background-color: #005500;
}
