{% extends "master.html" %}
{% load static %}
{% block title %}
    דירוג האתר
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/rate.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="rating-box">
    <header>נשמח לקבל משוב על העבודה שלנו</header>
    <div class="stars">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
    <button id="submit-rating">שלח</button>
</div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/rate.js' %}" defer></script>
{% endblock extra_js %}