body {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-image: url('https://images.immediate.co.uk/production/volatile/sites/10/2023/06/2048x1365-Oak-trees-SEO-GettyImages-90590330-b6bfe8b.jpg?quality=90&webp=true&resize=1200,800');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center calc(15% - 50px); 
    direction: rtl; 
    margin: 100;
    padding: 100;
    background-color: #23672f; 
}

.top-bar {
    display: flex;
    align-items: center; 
    height: 80px; 
    background-color: #23672f; 
    color: #fff;
    padding: 10px 20px; 
    position: fixed; 
    top: 0; 
    right: 0; 
    z-index: 1000; 
}

.top-bar a {
    display: inline-block; 
    text-align: center; 
    margin-left: 90px;
    color: #fff;
    text-decoration: none; 
}

.top-bar a:hover {
    color: #6dcb87; 
}

h1.green-text {
    color: #23672f;
    text-align: center;
    font-size: 50px; 
}

.content {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px; 
}

.box {
    background-color: #23672f; 
    border: 1px solid #287039;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

.box h2 {
    color: #96f9a9;
    margin-bottom: 10px;
}

.box p {
    color: #ffffff;
    line-height: 1.6;
}
.box {
    background-color: #23672f; 
    border: 1px solid #287039;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 40px;
    text-align: center; 
}
.image-container img {
    width: 100px; 
    height: auto; 
    transition: transform 0.3s ease-in-out; 
}

.image-container img.active {
    width: 200px;
    height: auto; 
    transform: scale(1.5);
}

.statistics-box {
    background-color: #23672f; 
    border: 1px solid #287039;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.statistics-box h2 {
    color: #96f9a9;
    font-size: 24px; 
    margin-bottom: 10px;
}

.statistics-box p {
    color: #ffffff;
    line-height: 1.6;
}

.recycle-container {
    background-color: #23672f; 
    border: 1px solid #287039;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

.recycle-container h2 {
    color: #96f9a9;
    font-size: 24px; 
    margin-bottom: 10px; 
}

.recycle-container p {
    color: #ffffff; 
    line-height: 1.6; 
}
.social-buttons {
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
    gap: 10px;
}

.social-buttons a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin-right: 10px; 
    transition: color 0.3s ease; 
}

.social-buttons i {
    font-size: 30px;
}

.social-buttons a:hover i {
    color: inherit; 
}

.social-buttons a:hover i.fab.fa-facebook {
    color: #235fea; 
}

.social-buttons a:hover i.fab.fa-whatsapp {
    color: #20e007;
}

.social-buttons a:hover i.fab.fa-instagram {
    color: #FF007F; 
}

#share-btn:hover + .social-buttons {
    display: flex;
}
